### Citibike Usage Seasonal Dynamic
#### Introduction:
Citibike data shows that there is a relatively low bike useage during winter time. It is presumed that many subscribers follow a pattern in trip duration, such as grocery shopping or commuting. However, it is not clear that wether there is a seasonal dynamic in such usage pattern. In this research, we look into citibike data generated by subscribers in summer months (July and August, 2015) and winter months (January and Febuary, 2015), in order to compare the seasonal difference in trip duration generated by subscribers.

#### Hypothesis Testing:
In this research, we define the null hypothesis as: There is no decrease in the average trip duration of subscribers in summer months as compared to the winter months. Significance level  $\alpha=0.05$

In [32]:
# Load relevant libraries.
import pylab as pl
import pandas as pd
import numpy as np
%pylab inline

import os

import json
s = json.load( open(os.getenv ('PUI2015')+"/ylai_matplotlibrc.json") )
pl.rcParams.update(s)

fig=pl.figure(figsize(15,15))

Populating the interactive namespace from numpy and matplotlib

WARNING: pylab import has clobbered these variables: ['summer']
`%matplotlib` prevents importing * from pylab and numpy

In [57]:
# Create a data frame named as 'summer' including data from July and August 2015.
jul = pd.read_csv("201507-citibike-tripdata.csv")
aug = pd.read_csv("201508-citibike-tripdata.csv")
summer = pd.concat([jul, aug], axis = 0)

In [58]:
len(summer)

2264720

In [59]:
summer[:5]

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,732,7/1/2015 00:00:03,7/1/2015 00:12:16,489,10 Ave & W 28 St,40.750664,-74.001768,368,Carmine St & 6 Ave,40.730386,-74.002150,18669,Subscriber,1970,1
1,322,7/1/2015 00:00:06,7/1/2015 00:05:29,304,Broadway & Battery Pl,40.704633,-74.013617,3002,South End Ave & Liberty St,40.711512,-74.015756,14618,Subscriber,1984,1
2,790,7/1/2015 00:00:17,7/1/2015 00:13:28,447,8 Ave & W 52 St,40.763707,-73.985162,358,Christopher St & Greenwich St,40.732916,-74.007114,18801,Subscriber,1992,1
3,1228,7/1/2015 00:00:23,7/1/2015 00:20:51,490,8 Ave & W 33 St,40.751551,-73.993934,250,Lafayette St & Jersey St,40.724561,-73.995653,19137,Subscriber,1990,1
4,1383,7/1/2015 00:00:44,7/1/2015 00:23:48,327,Vesey Pl & River Terrace,40.715338,-74.016584,72,W 52 St & 11 Ave,40.767272,-73.993929,15808,Subscriber,1988,1

In [60]:
# Subset a dataframe with subscribers only.
summer_sub = summer[summer['usertype'] == 'Subscriber']

In [61]:
summer_sub[:5]

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,732,7/1/2015 00:00:03,7/1/2015 00:12:16,489,10 Ave & W 28 St,40.750664,-74.001768,368,Carmine St & 6 Ave,40.730386,-74.002150,18669,Subscriber,1970,1
1,322,7/1/2015 00:00:06,7/1/2015 00:05:29,304,Broadway & Battery Pl,40.704633,-74.013617,3002,South End Ave & Liberty St,40.711512,-74.015756,14618,Subscriber,1984,1
2,790,7/1/2015 00:00:17,7/1/2015 00:13:28,447,8 Ave & W 52 St,40.763707,-73.985162,358,Christopher St & Greenwich St,40.732916,-74.007114,18801,Subscriber,1992,1
3,1228,7/1/2015 00:00:23,7/1/2015 00:20:51,490,8 Ave & W 33 St,40.751551,-73.993934,250,Lafayette St & Jersey St,40.724561,-73.995653,19137,Subscriber,1990,1
4,1383,7/1/2015 00:00:44,7/1/2015 00:23:48,327,Vesey Pl & River Terrace,40.715338,-74.016584,72,W 52 St & 11 Ave,40.767272,-73.993929,15808,Subscriber,1988,1

In [62]:
len(summer_sub)

1863362

In [66]:
summer_sub['tripduration'].describe()

count    1863362.000000
mean         811.243927
std         5576.340963
min           60.000000
25%          382.000000
50%          602.000000
75%          960.000000
max      3611666.000000
Name: tripduration, dtype: float64

In [70]:
summer_long = summer_sub[summer_sub['tripduration'] >3000]

In [71]:
summer_long['tripduration'].describe()

count      11455.000000
mean       13234.166041
std        69745.946689
min         3001.000000
25%         3320.000000
50%         4061.000000
75%         7121.000000
max      3611666.000000
Name: tripduration, dtype: float64

In [ ]:
fig=pl.figure(figsize(15,15))

counts_sum_long = summer_long.count()
norm_sum_long = 1



norm_w= counts_w.sum()
error_w=np.sqrt(counts_w)
((counts_w)/norm_w).plot(kind="bar",color='IndianRed',  yerr=[
            ((error_w)/norm_w,(error_w)/norm_w)], label='women bikers')